@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import "reset";

body {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #345995;
  margin: 1em;
}

h1 {
  font-weight: 100;
  font-size: 3rem;
  color: #eac435;
  margin-bottom: .5em;
}

h2 {
  font-size: 1.5rem;
  padding: .5em;
}

p {
  padding: .5em;
}

img {
  border-radius: 2em;
  border: 6px solid #eac435;
}


  a {
    text-decoration: none;
    color: #30395C;
    transition: all 0.3s ease-in-out;
  }
  a:hover {
    color: #43D4D6;
  }

.Page-wrapper{
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  .Page {
    display: flex;
    justify-content: space-around;
    width: calc(100vw - 50px);
    .column {
      width: 100%;
      margin-left: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .heading{
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border: 0.1px solid transparentize(black, .35);
        width: 100%;
      }
    }
  }

  .no-answer {
    display: none;
  }
  
}

.game-data {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  width: 50%;
  margin: 1em;
  padding: 1.5em;
  border-radius: 2em;
}

button {
  padding: 1em;
  background-color: #345995;
  color: #eac435;
  border-radius: .5em;
}

.points {
  margin-bottom: .5em;
  padding: .5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.points-buttons button {
  padding: .5em 2em;
  margin-left: 1.5em;
}